*.class
*.html
*.css
*.log
*.jar
*.war
*.ear
*.swp
*.gif
package-list
/metastore_db
class-use
*.iml
framework.iml
index-files
/.idea
/output
/ncdc_output
/.project
/.classpath
/.settings
/build/
/bin/
/lib/
/doc
/target
.settings/
